body {
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/* full page container */
.page-container {
    background-color: #EFF0F4;
    border: 2px solid #C9D3DD;
    border-radius: 7px;
    padding: 25px;
}

/* container which allows columns */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; /* Distribute items evenly */
    margin-bottom: 5px;
}

/* two main columns (sighting & discussion board) */
.col-md-7, .col-md-5 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px; /* Adjust as needed */
    padding-right: 15px; /* Adjust as needed */
}
.col-md-5 {
    border-left: 1px solid #cccccc;
}
.col-md-5 {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* boxes for plant information */
.information-box {
    width: 100%;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: 2px solid #D6D6D6;
    padding: 12px;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 200px;
    border-radius: 3px;
}
@media (min-width: 576px) {
    .information-box {
        width: calc(49.5%); /* Set width to one-third minus margin */
    }
}
@media (min-width: 1310px) {
    .information-box {
        width: calc(33%); /* Set width to one-third minus margin */
    }
}

/* description box */
.description {
    width: 100%;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: 2px solid #D6D6D6;
    padding: 12px;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 200px;
    border-radius: 3px;
}

/* discussion board chat */
.message {
    background-color: white;
    padding: 12px;
    margin-bottom: 7px;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 200px;
    border-radius: 3px;
}
.date {
    color: lightslategray;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.chat-input {
    border: 2px solid #343a40;
    border-radius: 3px 0 0 3px;
    padding: 10px;
    font-size: 14px;
    flex: 1; /* Take up remaining space */
    margin-right: -2px;
}
.chat-input:focus {
    outline: none;
    border-color: #343a40;
}
.send-button {
    background-color: #343a40;
    color: white;
    border: 2px solid #343a40;
    border-radius: 0 3px 3px 0;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.image-box, .map-box {
    width: 100%;
}
@media (min-width: 1000px) {
    .image-box, .map-box {
        width: calc(49.5%); /* Set width to one-third minus margin */
    }
}


/* image box */
.image-container {
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #9FAFC1;
}
.cropped-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* map box */
.map {
    width: 100%;
    height: 220px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #9FAFC1;
}

/* DBPedia plant searching function */
.plant-result {
    max-width: 400px;
    margin-bottom: 10px;
    cursor: pointer;
}
.plant-result img {
    width: 100px;
    height: auto;
}
.plant-result .card-body {
    padding: 10px;
}
.plant-result .card-title {
    font-size: 1rem;
    margin-bottom: 5px;
}
.plant-result .card-text {
    font-size: 0.875rem;
}