body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* messages in the discussion board */
.message {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow-y: auto;
  max-height: 200px;
  border-radius: 3px;
}

/* discussion board chat input box and button */
.chat-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute items evenly */
}

/* discussion board chat input box */
.chat-input {
  border: 2px solid #343a40;
  border-radius: 3px 0 0 3px;
  padding: 10px;
  font-size: 14px;
  flex: 1; /* Take up remaining space */
  margin-right: -2px;
}
.chat-input:focus {
  outline: none;
  border-color: #343a40;
}

/* discussion board chat input button */
.send-button {
  background-color: #343a40;
  color: white;
  border: 2px solid #343a40;
  border-radius: 0 3px 3px 0;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}